@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;

}
body{
    color:#fff;
    background: black;
    overflow: hidden;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10px;
    background:transparent;
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 40px;
    color:#e9d4d4;
    text-decoration: none;
    font-weight:800;
    filter:drop-shadow(0 0 5px rgb(46, 34, 34));
}
.navbar a {
    font-size: 18px;
    color:#e9d4d4;
    text-decoration: none;
    font-weight: 300;
    margin-left: 35px;
    transition: 0.3s ease-out;

}

.navbar a:hover{
    color:#08f7b3;

}
.main{
    min-height: 100vh;
    background:url('quizbg.jpg') no-repeat center center fixed;
    background-size: cover;
    transition: .3s ease;
    background-position: center;
    pointer-events: auto;
}
.main.active{
    filter: blur(10px);
    pointer-events: none;
}
.container{
    display: flex;
    height: 100vh;
    width: 218%;

}
.home{
    position:relative;
    left: -50%;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-shadow: rgb(83, 75, 75);
    padding: 250px;
    display: flex;
    height: 100vh;

    
    

}
.home-content{
    max-width: 600px;
    flex-direction: column;
    
    
}
.home-content h1{
    font-size: 78px;
    font-weight: 700;
    text-shadow: 0 0 10px black;
    color:#e9d4e6 ;

}
.home-content p{
    font-size: 16px;
    text-align: center;
    text-shadow: 0 0 10px black;
    margin-bottom: 20px;
    
}
.home-content .start-btn{
    width:50%;
    height: 40px;
    border: 2px solid;
    border-radius: 50px;
    color: rgb(0, 0, 0);
    text-align: center;
    border-color: rgb(240, 234, 239);
    background-color: rgb(241, 205, 241);
    letter-spacing: 1px;
    cursor: pointer;
    font-weight: 600;
    box-shadow: rgb(232, 5, 168);
}
.home-content .start-btn:hover{
    background-color: rgb(10, 0, 8);
    transform: 0.4s eas;
    color: white;
    box-shadow: none;
}
.popup-info{
    background-color: black;
    border:10px solid;
    border-radius: 30px;
    border-color:rgb(253, 25, 188);
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    top:50%;
    width: 600px;
    left: 50%;
    transform: translate(-50%,-50%) scale(.9);
    padding: 10px 25px;
    opacity: 0;
    pointer-events: none;
    transition: .3s ease;
}
.popup-info.active{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%,-50%) scale(.9);
}
.popup-info h2{
    letter-spacing: 2px;
    font-size: 50px;
    color: rgb(232, 5, 168);

}
.popup-info .info{
    display: inline-block;
    font-size: 16px;
    color: rgb(228, 221, 222);
    font-weight: 500;
    margin: 4px;
}
.popup-info .btngc{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid;
    margin: 10px;
    padding: 15px;


}
.popup-info .btngc .infobtn{
    width: 130px;
    height: 45px;
    outline: none;
    border-radius: 50px;
    color: rgb(0, 0, 0);
    text-align: center;
    border-color: rgb(240, 234, 239);
    background-color: rgb(247, 14, 189);
    letter-spacing: 1px;
    cursor: pointer;
    font-weight: 600;
    box-shadow: rgb(232, 5, 168);
    border: 2px solid;
    justify-content: center;
    display: inline-flex;
    align-items: center;
    transition: .5s;


}

.popup-info .btngc .infobtn:hover{
    background-color: rgb(10, 0, 8);
    transform: 0.4s eas;
    color: white;
    box-shadow: none;
}
.popup-info .btngc .infobtn:nth-child(1){
    background-color: transparent;
    color:rgb(247, 14, 189);
}
.popup-info .btngc .infobtn:nth-child(1):hover{
    background-color: transparent;
    color:rgb(238, 233, 237);
}
.quizsection{
    position:relative;
    left: -50%;
    /*left: 0;*/
    width: 100%;
    background: rgb(26, 11, 35);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    transition: .8s ease-in-out;
    transition-delay: .25s;
    
}
.quizsection.active{
    left:0 ;

}
.quizsection .quizbox{
    position: relative;
    width: 500px;
    background: transparent;
    border: 5px solid rgb(232, 5, 168);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    opacity: 0;
    pointer-events: none;
    transition: scale(.9);
    transition:.3s ease ;
    transition-delay: 0;

}
.quizsection .quizbox.active{
    opacity: 1;
    pointer-events: auto;
    transition: scale(1);
    transition:1s ease ;
    transition-delay: 1s;

}

.quizbox h1{
    font-size: 32px;
    text-align: center;
    background: linear-gradient(45deg,transparent,rgb(232, 5, 168),transparent);
    border-radius: 8px;

}
.quizbox .quizheader{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 15px 0;
    border-bottom: 5px solid rgb(232, 5, 168);
    margin-bottom: 30px;
}
.quizheader span{
    font-size: 15px;
    font-weight: 500;
}
.quizheader .time{
    background-color:rgb(234, 222, 231) ;
    border-radius:50px;
    padding: 15px;
    color: black;
}
.quizheader .headerscore{
    background-color:rgb(232, 5, 168) ;
    border-radius: 3px;
    padding: 7px;

}

.quizbox .question{
    font-size: 24px;
    font-weight: 600;
}
.optionlist .option{
width: 100%;
padding: 12px;
background: transparent;
border: 3px solid rgba(233, 10, 225, 0.214);
border-radius: 5px;
font-size: 17px;
margin:15px 0 ;
cursor: pointer;
transition: .3s;
}
.optionlist .option:hover{
    background: rgba(67, 49, 76, 0.647);
    border-color: rgba(79, 53, 74, 0.979);

}
.optionlist .option.correct{
    background: black;
    color: greenyellow;
    border-color: green;

}
.optionlist .option.incorrect{
    background: black;
    color: rgb(211, 98, 98);
    border-color: rgb(114, 5, 5);

}
.optionlist .option.disabled{
    pointer-events: none;
}
.quizbox .quizfooter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 3px solid rgb(232, 5, 168);
    padding-top: 15px;
    margin-top: 20px;

}
.quizfooter .totalquestion{
    font-size: 16px;
    font-weight:600 ;
}
.quizfooter .nextbtn{
    width: 100px;
    height: 45px;
    background: rgba(232, 5, 168, 0.258);
    border: 3px solid rgb(66, 26, 61);
    outline: none;
    border-radius: 6px;
    font-size: 16px;
    color: rgb(92, 88, 94);
    font-weight: 600;
    cursor: pointer;
    /*pointer-events: none;*/
    transition: .3s;

}

.quizfooter .nextbtn.active{
    pointer-events: auto;
    background-color: rgb(169, 51, 116);
    border-color:  rgb(232, 5, 168);
    color:whitesmoke
}
.quizfooter .nextbtn:hover.active{
    background-color: rgb(207, 78, 149);
    border-color:  rgb(232, 5, 168);
    color: white;

}
.quizsection .resultbox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(.9);
    width: 500px;
    background: transparent;
    border: 3px solid rgb(232, 5, 168);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: .3s ease;
}
.quizsection .resultbox.active{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%,-50%) scale(1);

}


.resultbox h2{
    font-size: 52px;


}
.resultbox .percentagecontainer{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 40px;

}
.percentagecontainer .circularprogress{
position: relative;
width: 250px;
height: 250px;
background:conic-gradient(rgb(232, 5, 168) 3.6deg,rgba(255,255,255,.1) 0deg) ;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;


}
.percentagecontainer .circularprogress::before{
    content: '';
    position: absolute;
    width: 210px;
    height: 210px;
    background: black;
    border-radius: 50%;
}
.circularprogress .progressvalue{
    position: relative;
    font-size: 45px;
    font-weight: 600;


}
.resultbox .scoretest{
    font-size: 26px;
    font-weight: 600;
    margin-top: 20px;

}
.resultbox .button{
    display: flex;
}
.button button{
    width: 130px;
    height: 47px;
    background: rgb(232, 5, 168);
    border: 3px solid rgb(118, 26, 103);
    outline: none;
    border-radius: 8px;
    justify-content: space-between;
    font-size: 15px;
    color:whitesmoke ;
    font-weight: 600;
    margin: 0 20px 20px;
    cursor: pointer;
    transition: .5s;

}
.button button:nth-child(1):hover{
    background: rgb(118, 26, 103);
    color:rgb(232, 5, 168) ;

}

.button button:nth-child(2){
    background: transparent;
    color:rgb(232, 5, 168) ;

}
.button button:nth-child(2):hover{
    background: rgb(232, 5, 168);
    color:whitesmoke ;
}
@media (max-width: 1024px) {
  .container, .home, .quizsection {
    width: 100vw !important;
    left: 0 !important;
    position: static !important;
    padding: 0 !important;
    margin: 0 auto !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 767px) {
  .quizbox, .resultbox {
    width: 98vw !important;
    max-width: 98vw !important;
  }
}
